*{
    padding: 0;
    margin:0;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: #0d192b;
}

section{
    background-color: #fff;
    width: 350px;
    height: 630px;
    text-align: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    background-color:hsl(216, 50%, 16%)
}

img{
    width: 305px;
    margin-top: 20px;
    border-radius: 9px;
}

.image{
    position: relative;
}

/*How to hover a image on a image?/reference*/
.image div{
    position: absolute;
    background-color:hsl(178, 100%, 50%);
    top: 0;
    width:305px;
    height:305px;
    opacity: 0;
    margin-top: 20px;
    margin-left: 23px;
    border-radius: 9px;
    /*this property represents
      about the background-color, which 
      is placed according to equilibrium
      image size*/
}

.image div:hover{
    opacity: 1;
    cursor: pointer;
    border-radius: 10px;
}

.image div svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*This property helps in placing
     the svg.view img in center of the
     equilibrium image.
     */
}

/*hover image ends*/



.p-1{
    text-align: left;
    padding-left: 25px;
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
}

.p-2{
    font-size: 19px;
    text-align: left;
    padding-left: 25px;
    color: hsl(219, 27%, 74%);
    margin-bottom: 25px;
    line-height: 1.6;
}

.line-3{
    display: flex;
    padding-left: 25px;
    color:  hsl(178, 100%, 50%);
    font-weight: bold;
    gap: 10px;
    align-items: center;
}

.line-4{
    display: flex;
    color:  hsl(215, 39%, 71%);
    align-items: center;
    gap: 7px;
}

.cont{
    display: flex;
    gap: 110px;
    margin-bottom: 30px;
}

.line{
    background-color: hsl(215, 32%, 27%);
    height: 1px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.img2{
    width: 40px;
    height: 40px;
    border: 1px solid #fff ;
    border-radius: 50%;
    margin-top: 0;
}


.line-5{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 25px;
    color: hsl(219, 27%, 74%);
}

p span {
    color: #fff;
}


.p-1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

span:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
